<?xml version="1.0"?>
<robot name="rosmip" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="chassis_length" value="0.035" />
  <xacro:property name="chassis_width"  value="0.062" />	
  <xacro:property name="chassis_height" value="0.12" />
  <xacro:property name="chassis_mass"   value="0.18" />
  <xacro:property name="chassis_vert_offset" value="0.055" />

  <xacro:property name="left_wheel_radius"  value="0.03" />
  <xacro:property name="right_wheel_radius" value="0.03" />
  <xacro:property name="wheel_width"  value="0.01" />
  <xacro:property name="wheel_track"  value="0.083" />
  <xacro:property name="wheel_mass"   value="0.01" />
  <xacro:property name="wheel_joint_damping" value="0.01" />
  <xacro:property name="wheel_joint_friction" value="0.01" />

  <xacro:property name="high_definition_wheel_visual" value="true" />
  <xacro:property name="high_definition_body_visual"  value="true" />
  <xacro:property name="high_definition_camera_visual"  value="true" />
  
  <!-- sensors -->
  <xacro:property name="use_infrared_marker" value="false" />
  <xacro:property name="use_aruco_marker"    value="false" />
  <xacro:property name="use_eachine_camera" value="true" />
  
</robot>
