<?xml version="1.0"?>
<robot name="rosmip_1" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rosmip_description)/urdf/rosmip_defaults.urdf.xacro" />
  <xacro:property name="use_eachine_camera" value="true" />
  
  <xacro:include filename="$(find rosmip_description)/urdf/rosmip.urdf.xacro" />
  
</robot>
