<?xml version="1.0"?>

<!-- let's try a robot with different radius wheels -->
<robot name="rosmip_3" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rosmip_description)/urdf/rosmip_defaults.urdf.xacro" />

  <xacro:property name="left_wheel_radius"  value="0.031" />
  <xacro:property name="right_wheel_radius" value="0.029" />

  <xacro:include filename="$(find rosmip_description)/urdf/rosmip.urdf.xacro" />

  
</robot>
