<?xml version="1.0"?>
<launch>

  <arg name="map_path" default="$(find rosmip_worlds)/maps/maze_2.yaml" />

  <!--  ****** Move base *****  -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find rosmip_navigation)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find rosmip_navigation)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    
    <rosparam file="$(find rosmip_navigation)/params/map_nav_params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find rosmip_navigation)/params/map_nav_params/local_costmap_params.yaml" command="load" />
    
    <rosparam file="$(find rosmip_navigation)/params/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find rosmip_navigation)/params/move_base_params.yaml" command="load" />
    
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    
    <remap from="/odom" to="/rosmip_balance_controller/odom" />-->
    <remap from="/cmd_vel" to="/rosmip_balance_controller/cmd_vel" />
  
  </node>

  <!--  ****** Maps *****  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)" output="screen">
    <param name="frame_id" value="map"/>
  </node>

  <!--  ****** Navigation Filter *****  -->
  <include file="$(find rosmip_navigation)/launch/robot_localization_ekf.launch"/>
 
  <!--  ****** Static transform between map and odom *****  -->
  <!--<node pkg="tf" type="static_transform_publisher" name="odom_to_map_tf" args="-0.5 -0.5 0 0 0 0 odom map 50"/>-->
  <node pkg="tf" type="static_transform_publisher" name="world_to_map_tf" args="0 0 0 0 0 0 world map 50"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rosmip_viz)/rviz/map_navigation.rviz" />

  
</launch>

