<?xml version="1.0"?>
<launch>

  <arg name="config" default="ekf"/>
  <arg name="robot_name" default="rosmip_1"/>
  <arg name="robot_marker" default="0"/>
  
  <node pkg="robot_localization" type="ekf_localization_node" name="$(arg robot_name)_ekf_localization" clear_params="true" output="screen">
    <rosparam command="load" file="$(find rosmip_navigation)/params/$(arg config).yaml" />
    <rosparam param="base_link_frame" subst_value="True">$(arg robot_name)/base_link</rosparam>
    <rosparam param="odom_frame" subst_value="True">$(arg robot_name)/odom</rosparam>
    <rosparam param="odom0" subst_value="True">$(arg robot_name)/rosmip_balance_controller/odom</rosparam>
    <rosparam param="pose0" subst_value="True">/smocap/marker_$(arg robot_marker)</rosparam>
    <remap from="odometry/filtered" to="$(arg robot_name)/ekf/pose"/>
  </node>

  <!--
  <node pkg="tf" type="static_transform_publisher" name="world_to_map_tf" args="0 0 0 0 0 0 /world /map 100"/>
  -->
</launch>
