<?xml version="1.0"?>
<launch>
  <arg name="start_gazebo" default="true" />
  <arg name="world_name" default="$(find common_simulations)/worlds/ethz_cam1.world" />
  <arg name="robot_name" default="rosmip_2" />
  
  <include file="$(find rosmip_gazebo)/launch/rosmip_world.launch">	
    <arg name="start_gazebo" value="$(arg start_gazebo)" />
    <arg name="world_path" value="$(arg world_name)" />
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="robot_initial_loc" default="-x 1.5 -y 3.4 -z 0.02"/>
  </include>
    
</launch>
