<?xml version="1.0"?>
<launch>
  <arg name="config" default="rosmip_1"/>

  <node name="robot_hardware" pkg="rosmip_control" type="rosmip_hardware_interface_node" />

  <!-- Load ROSMip's description, controllers, and teleop nodes. -->
  <include file="$(find rosmip_description)/launch/description.launch">
    <arg name="config" value="$(arg config)" />	
  </include>	       

  <!--<include file="$(find rosmip_control)/launch/control_balance.launch" /> -->
  <include file="$(find rosmip_control)/launch/control_legacy.launch">
    <arg name="config" value="$(arg config)" />	
  </include>
  

</launch>
