<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="rosmip_1"/>
  <arg name="enable_odom_tf" default="true" />
  
  <param name="enc_mult" value="2"/>
  <node name="robot_hardware" pkg="rosmip_control" type="rosmip_hardware_interface_node" output="screen" ns="$(arg robot_name)">
  </node>

  <!-- Load ROSMip's description. -->
  <include file="$(find rosmip_description)/launch/description.launch">
    <arg name="robot_name" value="$(arg robot_name)" />	
  </include>	       

  <include file="$(find rosmip_control)/launch/control_legacy.launch">
    <arg name="robot_name" value="$(arg robot_name)" />	
    <arg name="enable_odom_tf" default="$(arg enable_odom_tf)" />
  </include>
  
</launch>
